<p>home works!</p>


<div class="row">

        <div class="col-sm-12 mt-3">
    
            <div class="card">
    
            <div class="card-body">
    
                <h3 class="card-title">Table</h3>
    
                <table class="table table-striped">
    
                <thead>
    
                <tr>
    
                    <th scope="col">#</th>
    
                    <th scope="col">Country</th>
    
                    <th scope="col">Area</th>
    
                    <th scope="col">Population</th>
    
                </tr>
    
                </thead>
    
                <tbody>
    
                <tr>
    
                    <td>1</td>
    
                    <td>Russia</td>
    
                    <td>17,075,200 </td>
    
                    <td>36,624,199</td>
    
                </tr>
    
                <tr>
    
                    <td>2</td>
    
                    <td>Canada</td>
    
                    <td>9,976,140 </td>
    
                    <td>146,989,754</td>
    
                </tr>
    
                <tr>
    
                    <td>3</td>
    
                    <td> United States </td>
    
                    <td>9,629,091 </td>
    
                    <td>324,459,463</td>
    
                </tr>
    
                <tr>
    
                    <td>4</td>
    
                    <td>China</td>
    
                    <td>9,596,960</td>
    
                    <td>1,409,517,397</td>
    
                </tr>
    
                </tbody>
    
                </table>
    
            </div>
    
            </div>
    
        </div>
    
    </div>