
<h4>Change Password</h4>
<hr />

<div class="form-container">
    <form [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()"
      class="form-inner-container signup-form justify-content-around">

      <div class="cross-validation" [class.cross-validation-error]=" passwordUpdateForm.errors?.identityRevealed &&
          (passwordUpdateForm.touched || passwordUpdateForm.dirty)">

        <div class="form-group signup-form">
          <input formControlName="password" type="password"  class="form-control" id="password"  placeholder="Current Password" />
          <app-form-validation-template [formControlsInp]="formControls.password" ></app-form-validation-template>
        </div>
        <div class="form-group signup-form">
          <input formControlName="new_password"  type="password" class="form-control" id="new_password" placeholder="New password"/>
          <app-form-validation-template [formControlsInp]="formControls.new_password" ></app-form-validation-template>
        </div>
        <div class="form-group signup-form">
          <input formControlName="confirm_password"  type="password" class="form-control" id="confirm_password" placeholder="Confirm password"/>
          <app-form-validation-template [formControlsInp]="formControls.confirm_password" ></app-form-validation-template>
        </div>

      </div>

      <button type="submit" class="mt-3 btn btn-primary btn-block"
        [disabled]="!passwordUpdateForm.valid || isFormProcessing">
        Submit
        <span *ngIf="isFormProcessing" class="spinner-border spinner-border-sm"
          role="status" aria-hidden="true"></span>
      </button>
      <div *ngIf="formErrors.length > 0" class="alert alert-danger mt-2"  role="alert">
        <li *ngFor="let formError of formErrors">
          {{ formError }}
        </li>
      </div>
    </form>
  </div>
