<div class="tutor-banner">
  <div class="inner-banner">
    <div class="container header-container">
      <h1 class="header-title">Tutor</h1>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="tutor-title">Availabel Tutors for this course</h3>
  <hr class="hr-color" />
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row profil-row">
      <div class="col-md-4">
        <img
          src="/assets/images/Young_African_American_female_.png"
          alt="Avatar"
          style="width: 200px;"
        />
        <h4 class="name">Name Name</h4>
      </div>
      <div class="vertical-line"></div>
      <div class="col-md-4 subjects">
        <h2>Subjects:</h2>
        <p>Math, Physics, chemistry</p>
        <h2>Subjects:</h2>
        <button class="btn btn-block choosebtn">Choose</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row profil-row">
      <div class="col-md-4">
        <img
          src="/assets/images/Young_African_American_female_.png"
          alt="Avatar"
          style="width: 200px;"
        />
        <h4 class="name">Name Name</h4>
      </div>
      <div class="vertical-line"></div>
      <div class="col-md-4 subjects">
        <h2>Subjects:</h2>
        <p>Math, Physics, chemistry</p>
        <h2>Subjects:</h2>
        <button class="btn btn-block choosebtn">Choose</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row profil-row">
      <div class="col-md-4">
        <img
          src="/assets/images/Young_African_American_female_.png"
          alt="Avatar"
          style="width: 200px;"
        />
        <h4 class="name">Name Name</h4>
      </div>
      <div class="vertical-line"></div>
      <div class="col-md-4 subjects">
        <h3>Subjects:</h3>
        <p>Math, Physics, chemistry</p>
        <h2>Subjects:</h2>
        <button class="btn btn-block choosebtn">Choose</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row profil-row">
      <div class="col-md-4">
        <img
          src="/assets/images/Young_African_American_female_.png"
          alt="Avatar"
          style="width: 200px;"
        />
        <h4 class="name">Name Name</h4>
      </div>
      <div class="vertical-line"></div>
      <div class="col-md-4 subjects">
        <h2>Subjects:</h2>
        <p>Math, Physics, chemistry</p>
        <h2>Subjects:</h2>
        <button class="btn btn-block choosebtn">Choose</button>
      </div>
    </div>
  </div>
</div>
