<div class="row m-2">
  <button
    class="btn btn-primary creat-btn"
    (click)="openVerticallyCentered(content)"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
    Create
  </button>
  <ng-template #content let-modal>
    <form [formGroup]="tutorForm" action="">
      <div class="modal-header">
        <div class="d-flex">
          <div class="p-2">
            <button
              type="button"
              (click)="modal.dismiss()"
              class="close"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="p-2">
            <p class="modal-title" id="modal-basic-title">Assignment</p>
          </div>
        </div>

        <select class="btn btn-light material-type">
          <option value="">Assignment</option>
          <option value="">pdf file</option>
        </select>
      </div>
      <div class="modal-body">
        <div class="row mx-md-n2">
          <div class="col px-md-8">
            <div class="p-1">
              <div class="form-group">
                <div class="row mx-md">
                  <div class="px-md-2">
                    <i class="fa fa-ellipsis-v dot-icon"></i>
                  </div>
                  <div class="col px-md-6">
                    <input type="text" placeholder="Title" />
                  </div>
                </div>
              </div>
              <div class="row mx-md">
                <div class="px-md-2">
                  <i class="fa fa-ellipsis-v dot-icon"></i>
                </div>
                <div class="col px-md-6">
                  <textarea
                    type="text"
                    placeholder="Instruction (Optional)"
                    rows="5"
                  ></textarea>
                </div>
              </div>
              <div class="row mx-md add-btn-area">
                <div class="px-md-4">
                  <button class="btn btn-light add-btn">Add</button>
                </div>
                <div class="col px-md-6">
                  <button class="btn btn-light create2-btn">
                    <i class="fa fa-plus m-1" aria-hidden="true"></i> Create
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-1">
              <div class="form-group">
                <label for="for">For</label>
                <div class="row mx-md">
                  <div class="col px-md-2">
                    <select
                      formControlName="for"
                      name=""
                      class="btn btn-light"
                      id="for"
                    >
                      <option [selected]="true" value="Web dev">Web dev</option>
                      <option value="Devps">Devps</option>
                      <option value="Android dev">Android dev</option>
                    </select>
                  </div>
                  <div class="col px-md-2">
                    <select
                      formControlName="student"
                      name="for"
                      class="btn btn-light"
                      id="stude"
                    >
                      <option [selected]="true" value="">studen</option>
                      <option value=""> instructor</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="points">Points</label>
                <div class="p-1">
                  <select
                    formControlName="points"
                    class="btn btn-light btn-block"
                    name="point"
                    id=""
                  >
                    <option [selected]="true" value="">100</option>
                    <option value="">200</option>
                    <option value="">300</option>
                    <option value="">400</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="due">Due</label>
                <select
                  formControlName="duedate"
                  class="btn btn-light btn-block"
                  name="point"
                  id=""
                >
                  <option [selected]="true" value="">Mon, Jun 29</option>
                  <option value="">Mon, Jun 29</option>
                  <option value="">Mon, Jun 29</option>
                  <option value="">Mon, Jun 29</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Topic">
                  Topic
                </label>
                <select
                  formControlName="topic"
                  class="btn btn-light btn-block"
                  name="point"
                  id=""
                >
                  <option [selected]="true" value="">No Topic</option>
                  <option value="">No Topic</option>
                  <option value="">No Topic</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Rubric">Rubric</label>
                <div class="row">
                  <button class="btn btn-light">
                    <i class="fa fa-plus rubic p-2" aria-hidden="true"></i
                    >Rubric
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="modal.close()"
          class="btn btn-outline-dark"
        >
          close
        </button>
      </div>
    </form>
  </ng-template>
</div>

<div class="my-container">
  <div class="inner">
    <div class="card">
      <div class="card-title">
        <div class="d-flex">
          <div class="p-2">
            <i class="fa fa-bookmark-o logo_image" aria-hidden="true"></i>
          </div>
          <div class="p-2">
            <p
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapse"
            >
              Nati Getch posted a new assignment:DB quiz 2
            </p>
          </div>

          <div class="ml-auto p-2">
            <small class="p-4"> Posted Jun 22(Edited Jun 22)</small>

            <div ngbDropdown class="d-inline-block">
              <i
                ngbDropdownToggle
                class="fa fa-ellipsis-v dot-icon"
                aria-hidden="true"
              ></i>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu dropdown-menu-left"
              >
                <button ngbDropdownItem>Edit</button>
                <button ngbDropdownItem>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="collapse" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inner">
    <div class="card">
      <div class="card-title">
        <div class="d-flex">
          <div class="p-2">
            <i class="fa fa-bookmark-o logo_image" aria-hidden="true"></i>
          </div>
          <div class="p-2">
            <div class="row">
              <p
                (click)="isCollapsed2 = !isCollapsed2"
                [attr.aria-expanded]="!isCollapsed2"
                aria-controls="collapse2"
              >
                Nati Getch posted a new assignment:DB quiz 2
              </p>
            </div>
          </div>
          <div class="ml-auto p-2">
            <small class="p-4">Posted Jun 22(Edited Jun 22)</small>
            <div ngbDropdown class="d-inline-block">
              <i
                ngbDropdownToggle
                class="fa fa-ellipsis-v dot-icon"
                aria-hidden="true"
              ></i>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu dropdown-menu-left"
              >
                <button ngbDropdownItem>Edit</button>
                <button ngbDropdownItem>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="collapse2" [ngbCollapse]="isCollapsed2">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
