.logo_image {
  /* background-color: white; */
  border-radius: 60%;
  /* margin-top: 0.5rem; */

  /* border: 1x solid grey; */
  padding: 10px;
  background-color: #206acf;
  color: white;
}

.card-title {
  color: black;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.creat-btn {
  background-color: #206acf;
  /* justify-self: center; */
  /* border: 2px #ed9834 solid; */
  padding: 10px 2rem;
  /* background-color: white; */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  /* color: black; */
  /* text-al  ign: center; */
  font-size: 1.5rem;
}

.inner {
  margin: 2rem;
}

.modal-title {
  font-weight: 500;
}

label {
  font-weight: bold;
  font-size: small;
}
.rubic {
  font-weight: 200;
}
.d-inline-block {
  appearance: none;
  /* overflow: hidden; */
}

input {
  background-color: whitesmoke;
  outline: none;
  border: none;
  width: 100%;
  position: relative;
  border-bottom: 0.5px solid black;
  margin: 8px 0px 0px 0px;
  padding: 10px;
}

textarea {
  background-color: whitesmoke;
  outline: none;
  border: none;
  width: 100%;
  position: relative;
  border-bottom: 0.5px solid black;
  margin: 8px 0px 0px 0px;
  padding: 10px;
}

.add-btn {
  color: #206acf;
}
.create2-btn {
  color: #206acf;
}

.add-btn-area {
  margin: 1rem;
}

.deletBtn {
  background-color: red;
}

.toggle::after {
  display: none;
}
