<section *ngIf="showJoinUsSectionInp" class="joinus_area">
  <div class="row join-row">
    <div class="container joinus_container">
      <div class="row">
        <h2 class="mx-auto joinus-text">
          JOIN US ! <i class="fa fa-heart-o" style="color: white;"></i>
        </h2>
      </div>
      <div class="row">
        <p class="mx-auto join-p-text">
          Recieve discounts,helpful tips, extra learning resources, and more.
        </p>
      </div>
      <div class="row mt-5">
        <input
          class="mx-auto w-50 join-input"
          type="text"
          name=""
          id=""
          placeholder="Email Address"
        />
      </div>
      <div class="row mt-5">
        <button class="mx-auto w-25 button5">JOIN</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer_area">
  <div class="container footer_container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="d-flex flex-column justify-content-start">
          <h2>Choose a Subject</h2>
          <p>Math</p>
          <p>English</p>
          <p>Science</p>
          <p>Coding</p>
          <p>Chemistry</p>
          <p>Physics</p>
        </div>
      </div>
      <div class="col-md-6 semicircle_area d-none d-md-block">
        <div class="d-flex align-items-end">
          <img class="logo_footer mx-auto" src="/assets/images/Tutor-web.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex flex-column justify-content-end">
          <h2>Any Questions?</h2>
          <p>0911180348</p>
          <p>info@panatutor.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>
