.footer_area {
  /* margin: 0 auto; */
  background: #52aabb;
  padding-top: 4rem;
  color: #fff;
}

#footer_container {
  margin: 0 auto;
  color: white;
}

.semicircle_area {
  margin-top: 100px;
  height: 250px;
  width: 100%;
  border-radius: 300px 300px 0 0;
  background: white;
}

.logo_footer {
  margin-top: 5rem;
  height: 150px;
}

@media (max-width: 780px) {
  .logo_footer {
    padding: 3rem;
    margin-top: 5rem;
    /* height: 150px; */

    height: 5rem;
    width: 5rem;

    /* color: white; */
  }

  .semicircle_area {
    padding: 2rem;
    margin-top: 100px;
    height: 100px;
    width: 50%;
    border-radius: 300px 300px 0 0;
    /* background: white; */
  }
}
