<div class="profile-banner">
    <div class="inner-banner">
      <div class="container title-container">
        <h1 class="username">{{ profile?.name | uppercase }}</h1>
      </div>
    </div>
</div>
  
<div class="container main-content">
  <div class="row">
    <div class="col-md-4 sidenav">
      <div class="sidenav-title">
        <h2 class="resource-title">
          Profile
        </h2>
        <hr />
      </div>
      <div class="sidenav-section">
          <a class="account-status" [routerLink]="'/profile'" [queryParams]="{ page: 'dashboard'}" > Courses</a> <br/>
          <a class="account-status" [routerLink]="'/profile'" [queryParams]="{ page: 'edit'}" >EDIT PROFILE</a> <br/>
          <a class="account-status" [routerLink]="'/profile'" [queryParams]="{ page: 'change-passwrod'}">Change Password</a>
        </div>
    </div>

    <div class="col-md-6 display-content">
       <span *ngIf="profile" >
          <span *ngIf="page == 'edit'">
            <app-profile-edit (profileEmitter)="onProfileEventEmitter($event)" [profileInp]="profile"></app-profile-edit>
          </span>
          <span *ngIf="page == 'change-passwrod'">
            <app-change-password [profileInp]="profile"></app-change-password>
          </span>
          <span *ngIf="page == 'dashboard'">
            <app-profile-dash [profileInp]="profile"></app-profile-dash>
          </span>
        </span>
    </div>
  </div>
</div>
  
