.container-fluid {
  margin-top: 60px;
}
.col-1-container {
  background: whitesmoke;
}

.col-2-container {
  background: linear-gradient(rgba(237, 152, 52, 1), rgba(0, 0, 0, 0.5)),
    url("/assets/images/edtech7.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form-container {
  background: white;
  /* margin: 0px; */
}
.form-container-inner {
  margin: 20px;
}
.form-content {
  padding: 50px;
}
.text-center {
  color: rgba(237, 152, 52, 1);
  margin-top: 0px;
  margin-bottom: 50px;
}

.p-text {
  color: white;
  font-size: 30px;
  /* font-weight: bold; */
  margin-top: 450px;
  width: 400px;
}

input {
  outline: none;
  border: none;
  width: 100%;
  position: relative;
  border-bottom: 0.5px solid blue;
}

.footer_area {
  /* margin: 0 auto; */
  margin-top: 100px;
  background: #52aabb;
  height: 400px;
}

#footer_container {
  margin: 0 auto;
  color: white;
}

#semicircle_area {
  margin-top: 200px;
  height: 200px;
  width: 900px;
  border-radius: 180px 180px 0 0;
  background: white;
}

.logo_footer {
  margin-top: 50px;
  width: 400px;
}
