<section class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4 col-1-container">
      <div class="container form-content">
        <h1 class="mb-4 signup-title">CREATE ACCOUNT</h1>

        <button type="submit" class="btn btn-primary btn-block">
          sign in with Facebook
        </button>
        <button type="submit" class="btn btn-primary btn-block">
          sign in with Google
        </button>
        <div class="form-container">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="onSubmit()"
            class="form-inner-container signup-form justify-content-around"
          >
            <div
              class="cross-validation"
              [class.cross-validation-error]="
                signupForm.errors?.identityRevealed &&
                (signupForm.touched || signupForm.dirty)
              "
            >
              <div class="form-group signup-form inputWithIcon">
                <input
                  formControlName="name"
                  type="text"
                  required
                  class="form-control"
                  id="name"
                  placeholder="User name"
                />

                <app-form-validation-template
                  [formControlsInp]="formControls.name"
                ></app-form-validation-template>
              </div>
              <div class="form-group signup-form">
                <input
                  formControlName="email"
                  type="email"
                  required
                  class="form-control"
                  id="email"
                  placeholder="Email id"
                />
                <app-form-validation-template
                  [formControlsInp]="formControls.email"
                ></app-form-validation-template>
              </div>
              <div class="form-group signup-form">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
                <app-form-validation-template
                  [formControlsInp]="formControls.password"
                ></app-form-validation-template>
              </div>
              <div class="form-group signup-form">
                <input
                  formControlName="password2"
                  type="password"
                  class="form-control"
                  id="password2"
                  placeholder="Confirm password"
                />
                <app-form-validation-template
                  [formControlsInp]="formControls.password2"
                ></app-form-validation-template>
              </div>
              <div class="form-group signup-form">
                <input
                  formControlName="phone"
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Phone number"
                />
              </div>
              <div class="form-check">
                <input
                  type="radio"
                  class="col-1 form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1">
                  I agree Terms & Conditions</label
                >
              </div>
            </div>
            <button
              type="submit"
              class="mt-3 btn btn-primary btn-block"
              [disabled]="!signupForm.valid || isFormProcessing"
            >
              Submit
              <span
                *ngIf="isFormProcessing"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
            <div
              *ngIf="formErrors.length > 0"
              class="alert alert-danger mt-2"
              role="alert"
            >
              <li *ngFor="let formError of formErrors">
                {{ formError }}
              </li>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-2-container d-flex align-items-end">
      <p class="p-text">
        THE ONLY PERSON WHO IS EDUCATED IS THE ONE WHO HAS LEARNED HOW TO LEARN
      </p>
    </div>
  </div>
</section>

<!-- <p>Signup page..</p>

<div class="col-md-6">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
        <div class="cross-validation" [class.cross-validation-error]="signupForm.errors?.identityRevealed && (signupForm.touched || signupForm.dirty)">

            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" type="text" required class="form-control" id="name" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.name" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input formControlName="email" type="email" required class="form-control" id="email" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.email" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.password" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input formControlName="password2" type="password" class="form-control" id="password2" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.password2" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="">
            </div>
    
            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    I agree Terms & Conditions
                </label>
                </div>
            </div>

        </div>
 
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid || isFormProcessing">
            Register
            <span *ngIf="isFormProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <div *ngIf="formErrors.length > 0"  class="alert alert-danger mt-2" role="alert">
            <li *ngFor="let formError of formErrors">
                {{ formError }}
            </li>
        </div>
    </form>
</div>
 -->

<!--
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
        </div>
        <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
        </div>
    </div> -->
