<div class="container" id="signup_container">
  <div class="row">
    <div class="col" id="column-id">
      <div class="limiter">
        <div id="creat-txt" class="mx-auto">
          CREAT ACCOUNT
        </div>
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="onSubmit()"
            class="login100-form validate-form"
          >
            <div
              class="wrap-input100 validate-input m-b-23"
              data-validate="Username is reauired"
            >
              <input
                class="input100"
                type="text"
                name="username"
                placeholder=" Username"
              />
              <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-23"
              data-validate="Username is reauired"
            >
              <input
                class="input100"
                type="text"
                name="username"
                placeholder="Email id"
              />
              <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password">
              <input
                class="input100"
                type="password"
                name="pass"
                placeholder="Password"
              />
              <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Confirm Password"
            >
              <input
                class="input100"
                type="password"
                name="pass"
                placeholder="Confirm Password"
              />
              <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">
                  Sign up
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="col" id="signup-txt-area"></div>
  </div>
</div>
<footer class="footer_area">
  <div class="container" id="footer_container">
    <div class="row">
      <div class="col-4">
        <div class="d-flex flex-column justify-content-start">
          <h2>Choose a Subject</h2>
          <p>Math</p>
          <p>English</p>
          <p>Science</p>
          <p>Coding</p>
          <p>Chemistry</p>
          <p>Physics</p>
        </div>
      </div>
      <div class="col-4" id="semicircle_area">
        <div class="d-flex align-items-end">
          <img class="logo_footer" src="assets/Tutor-web.png" alt="" />
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex flex-column justify-content-end">
          <h2>Any Questions?</h2>
          <p>0911180348</p>
          <p>info@</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <p>Signup page..</p>

<div class="col-md-6">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
        <div class="cross-validation" [class.cross-validation-error]="signupForm.errors?.identityRevealed && (signupForm.touched || signupForm.dirty)">

            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" type="text" required class="form-control" id="name" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.name" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input formControlName="email" type="email" required class="form-control" id="email" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.email" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.password" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input formControlName="password2" type="password" class="form-control" id="password2" placeholder="">
                <app-form-validation-template [formControlsInp]="formControls.password2" ></app-form-validation-template>
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="">
            </div>
    
            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    I agree Terms & Conditions
                </label>
                </div>
            </div>

        </div>
 
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid || isFormProcessing">
            Register
            <span *ngIf="isFormProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <div *ngIf="formErrors.length > 0"  class="alert alert-danger mt-2" role="alert">
            <li *ngFor="let formError of formErrors">
                {{ formError }}
            </li>
        </div>
    </form>
</div>
 -->

<!--
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
        </div>
        <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
        </div>
    </div> -->
