<span *ngIf="selectedCourse">
  <div class="course-banner">
    <div class="course-content">
      <div class="row my-row justify-content-center">
        <h5 class="course-text">{{ selectedCourse.title.rendered }}</h5>
      </div>
    </div>
  </div>

  <!--{{apiError.error.code}} -->
  <div *ngIf="apiError" class="d-flex justify-content-center py-5">
    <app-api-error-template [apiErrorInp]="apiError"></app-api-error-template>
  </div>

  <div class="container content mb-4">
    <div class="row mt-4" *ngIf="pageLinks.length > 0" >
      <span *ngFor="let p of pageLinks">
          <button [routerLink]="getRouterLink()" [queryParams]="{ page: p.page}" class="btn btn-info">{{p.text}}</button> &nbsp;
      </span>
    </div>

    <span *ngIf="page == 'topics'">
      <app-course-detail [selectedCourse]="selectedCourse"></app-course-detail>
    </span>
    <span *ngIf="page == 'group-admin'">
      <app-tutor-group-admin></app-tutor-group-admin>
    </span>
    <span *ngIf="page == 'board'">
      <app-tutor-board></app-tutor-board>
    </span>
    <span *ngIf="page == 'assign-tutor'">
        <app-tutor-assign></app-tutor-assign>
    </span>
  </div>
</span>
