
<section class="home_banner_area">
  <app-navbar></app-navbar>

  <div class="banner_inner">
    <div class="container cont">
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <h1 id="txt1" class="align-self-start">ONLINE TUTORING</h1>
        </div>
      </div>

      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt2" class="p-3">FOR YOUR KIDS</div>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div class="p-3">
            <button id="button1">START FREE TRIAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container get_started" >
  <p class="section-title">
    HOW TO GET STARTED
  </p>
  <div class="row justify-content-around mt-5">
    <div class="d-flex flex-row col-md-4">
      <div class="flex-column">
        <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
      </div>

      <div class="flex-column">
        <h2 class="p-1">REGISTER</h2>
        <p class="p-1" id="registertxt">
          To browse through availabel tutors and courses,register.it will only
          take a minute
        </p>
      </div>
    </div>
    <div class="d-flex flex-row col-md-4">
      <div class="flex-column">
        <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
      </div>

      <div class="flex-column">
        <h2 class="p-1">FIND A TUTOR</h2>
        <p class="p-1" id="tutortxt">
          find a tutor who meets your requirment. All our tutors have been
          selected carfully to provide the best service for you.
        </p>
      </div>
    </div>
    <div class="d-flex flex-row col-md-4">
      <div class="flex-column">
        <i class="fa fa-leanpub fa-5x" aria-hidden="true"></i>
      </div>

      <div class="flex-column">
        <h2 class="p-1" id="learnheader">LEARN</h2>
        <p class="p-1" id="learnttxt">
          Introduce your child to the platform and help them learn. We will be
          here to guid you every step of your way
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<section class="freetrial_area">
  <div class="container freetrial_area_container">
    <div class="d-flex align-content-center bd-highlight">
      <div class="section-title mx-auto">
          <h1 class="my-5 freetrialtxt">START FREE TRIAL</h1>
          <button class="button2">SIGN UP</button>
      </div>
      <!-- <div class="p-2 bd-highlight">Flex item 1</div>
      <div class="p-2 bd-highlight">Flex item 2</div>
      <div class="p-2 bd-highlight">Flex item 3</div> -->
    </div>
  </div>
</section>

<section class="works_section">
  <p class="section-title blue_color" >HOW IT WORKS</p>
  <div class="row works_container" >
    <div class="col-md yelow_bg">
      <div class="container p_container_works" >
        <p >
          After signing up, select a lesson you want to register for, we will
          match you with a tutor as soon as possible. Your first tutoring
          sessions are our gift for you
        </p>
        <p >
          Our tutors have prepared a great lesson content full of reading
          materials, discussions ,quizzes, exercises, videos and they are also
          available for live char, video or audio call.
        </p>
        <p >
          We will monitor how the lesson is goig, take your feddback and
          improve. After all, all we want is for your kids to get the best
          education possible.
        </p>
      </div>
    </div>
    <div class="col-md img-fa-kid"></div>
  </div>
</section>
<!-- <section class="container">
  <div class="mx-auto">
    LESSONS
  </div>
  <div class="row" id="subject_card1">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            MATHEMATIC
          </h2>
        </div>
      </div>
      <div class="row">
        <button id="button2">SIGN UP</button>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/science.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h2 class="card-title">
            SCIENCE
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="subject_card2">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/english.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            ENGLISH
          </h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/physics.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            PHYSICS
          </h2>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container lesson_container">
  <p class="section-title">
    LESSONS
  </p>
  <div class="row justify-content-around first_row_sub">
    <div class="col-md-4 col-sm-8">
      <div class="card h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            MATHEMATIC
          </h2>
        </div>
      </div>
      <div class="row">
        <button id="button3">GRADE 8</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-8">
      <div class="card h-95">
        <img src="/assets/images/science.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            SCIENCE
          </h2>
        </div>
      </div>
      <div class="row">
        <button id="button3">GRADE 8</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4 col-sm-8">
      <div class="card h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            MATHEMATIC
          </h2>
        </div>
      </div>
      <div class="row">
        <button id="button3">GRADE 8</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-8">
      <div class="card h-95">
        <img src="/assets//images/science.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            SCIENCE
          </h2>
        </div>
      </div>
      <div class="row">
        <button id="button3">GRADE 8</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" class="button4_warp">
    <div class="row">
      <button class="button4 mx-auto">FIND MORE SUBJECTS</button>
    </div>
  </div>
</div>

<section class="pana_area">
  <div class="container pana_area_container" >
    <div class="section-title mx-auto">WHY CHOOSE PANA</div>
    <div class="row ">
      <div class="d-flex flex-row col-md-6">
        <div class="">
          <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
        </div>

        <div class="">
          <h3 class="p-1">LEARN FROM THE BEST</h3>
          <p class="p-1" id="registertxt">
            To browse through availabel tutors and courses,register.it will only
            take a minute
          </p>
        </div>
      </div>
      <div class="d-flex flex-row col-md-6">
        <div class="">
          <i class="fa fa-leanpub fa-5x" aria-hidden="true"></i>
        </div>

        <div class="">
          <h3 class="p-1">WE COVER LOTS OF SUBJECTS</h3>
          <p class="p-1" id="registertxt">
            To browse through availabel tutors and courses,register.it will only
            take a minute
          </p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="d-flex flex-row col-md-6">
        <div class="">
          <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
        </div>

        <div class="">
          <h2 class="p-1">QUICK RESPONSE</h2>
          <p class="p-1" id="registertxt">
            To browse through availabel tutors and courses,register.it will only
            take a minute
          </p>
        </div>
      </div>
      <div class="d-flex flex-row col-md-6">
        <div class="">
          <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
        </div>

        <div class="">
          <h2 class="p-1">EASY TO USE</h2>
          <p class="p-1" id="registertxt">
            To browse through availabel tutors and courses,register.it will only
            take a minute
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="joinus_area">
  <div class="container joinus_container">
    <div class="row">
        <h2 class="mx-auto">JOIN US! <i class="fa fa-heart-o" style="color: white;"></i></h2>
    </div>
    <div class="row">
      <p class="mx-auto">Recieve discounts,helpful tips, extra learning resources, and more.</p>
    </div>
    <div class="row mt-5">
      <input class="mx-auto w-50 " type="text" name="" id="" placeholder="Email Address" />
    </div>
    <div class="row mt-5">
      <button class="mx-auto w-25 button4">JOIN</button>
    </div>
  </div>
</section>

<footer class="footer_area">
  <div class="container footer_container" >
    <div class="row">
      <div class="col-4">
        <div class="d-flex flex-column justify-content-start">
          <h2>Choose a Subject</h2>
          <p>Math</p>
          <p>English</p>
          <p>Science</p>
          <p>Coding</p>
          <p>Chemistry</p>
          <p>Physics</p>
        </div>
      </div>
      <div class="col-4" id="semicircle_area">
        <div class="d-flex align-items-end">
          <img class="logo_footer" src="assets/Tutor-web.png" alt="" />
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex flex-column justify-content-end">
          <h2>Any Questions?</h2>
          <p>0911180348</p>
          <p>info@</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<section class="last_home_banner_area1">
  <app-navbar></app-navbar>

  <div class="banner_inner">
    <div class="container">
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt1" class="align-self-start">EXPERIEANCED</div>
        </div>
      </div>

      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt2" class="p-3">TUTORS</div>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div class="p-3">
            <button id="button6">START FREE TRIAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="last_home_banner_area2">
  <app-navbar></app-navbar>

  <div class="banner_inner">
    <div class="container">
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt1" class="align-self-start">VERY EASY</div>
        </div>
      </div>

      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt2" class="p-3">TO USE</div>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div class="p-3">
            <button id="button6">START FREE TRIAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
