<!-- <p>home works!</p>

Add landing page content here -->

<!-- <section class="home_banner_area"> -->
<!-- <app-navbar></app-navbar> -->

<div class="banner_inner">
  <div class="container">
    <div class="row mx-md-n5">
      <div class="col px-md-5">
        <div id="txt1" class="align-self-start">ONLINE TUTORING</div>
      </div>
    </div>

    <div class="row mx-md-n5">
      <div class="col px-md-5">
        <div id="txt2" class="p-3">FOR YOUR KIDS</div>
      </div>
    </div>
    <div class="row mx-md-n5">
      <div class="col px-md-5">
        <div class="p-3">
          <button id="button1">START FREE TRIAL</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->
