<!-- <p>home works!</p>

Add landing page content here -->

<section class="home_banner_area">
  <app-navbar></app-navbar>

  <div class="banner_inner">
    <div class="container">
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt1" class="align-self-start">ONLINE TUTORING</div>
        </div>
      </div>

      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div id="txt2" class="p-3">FOR YOUR KIDS</div>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div class="p-3">
            <button id="button1">START FREE TRIAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" id="get_started">
  <div class="mx-auto">
    HOW TO GET STARTED
  </div>
  <div class="d-flex justify-content-around">
    <div class="row">
      <div class="flex-column">
        <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
      </div>

      <div class="flex-column">
        <h2>REGISTER</h2>
        <p id="registertxt">
          To browse through availabel tutors and courses,register.it will only
          take a minute
        </p>
      </div>
    </div>
    <div class="row">
      <div class="flex-column">
        <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
      </div>

      <div class="flex-column">
        <h2>FIND A TUTOR</h2>
        <p id="tutortxt">
          find a tutor who meets your requirment. All our tutors have been
          selected carfully to provide the best service for you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="flex-column">
        <i class="fa fa-leanpub fa-5x" aria-hidden="true"></i>
      </div>

      <div class="flex-column">
        <h2 id="learnheader">LEARN</h2>
        <p id="learnttxt">
          Introduce your child to the platform and help them learn. We will be
          here to guid you every step of your way
        </p>
      </div>
    </div>
  </div>
</div>

<section class="freetrial_area">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="mx-auto">
      <div class="flex-column">
        <h1 id="freetrialtxt">START FREE TRIAL</h1>
        <button id="button2">SIGN UP</button>
      </div>
    </div>
    <!-- <div class="p-2 bd-highlight">Flex item 1</div>
    <div class="p-2 bd-highlight">Flex item 2</div>
    <div class="p-2 bd-highlight">Flex item 3</div> -->
  </div>
</section>
<section cl>
  <div class="mx-auto" id="it_workstxt">HOW IT WORKS</div>
  <div class="row" id="it_works_area">
    <div class="col" id="yelow_bg">
      <p id="p-it-workstxt" class="p-it-workstxt1">
        After signing up, select a lesson you want to register for, we will
        match you with a tutor as soon as possible. Your first tutoring sessions
        are our gift for you
      </p>
      <p id="p-it-workstxt">
        Our tutors have prepared a great lesson content full of reading
        materials, discussions ,quizzes, exercises, videos and they are also
        available for live char, video or audio call.
      </p>
      <p id="p-it-workstxt">
        We will monitor how the lesson is goig, take your feddback and improve.
        After all, all we want is for your kids to get the best education
        possible.
      </p>
    </div>
    <div class="col" id="img-fa-kid"></div>
  </div>
</section>
<section class="lesson">
  <div class="mx-auto">
    LESSONS
  </div>
  <div class="row" id="subject_card1">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            MATHEMATIC
          </h2>
        </div>
      </div>
      <div class="row">
        <button id="button2">SIGN UP</button>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/science.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h2 class="card-title">
            SCIENCE
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="subject_card2">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/english.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            ENGLISH
          </h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <img src="/assets//images/physics.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            PHYSICS
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
