img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}
/* .my-carousel {
  position: absolute;
  top: 0;
} */

.slider-row {
  background-color: rgba(219, 34, 34, 0.5);
  width: 100%;
}
.my-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  background: none;
  border: 0;
  border-radius: 0;
}

#button1 {
  border: 1px #333 solid;
  padding: 10px 20px;
  background-color: white;
  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 100px;
  color: #52aabb;
  font-size: 45px;
  font-weight: bolder;
}

.carousel-item {
  background-color: rgba(0, 0, 0, 1);
}

.carousel-caption {
  margin-bottom: -2rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.home_banner_area {
  background: rgba(0, 0, 0, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.my-flex {
  margin-top: 8rem;
}

.cont {
  margin-top: 10rem;
  margin-left: 0px;
}
#txt1 {
  color: #ed9834;
  margin-top: 5rem;
  font-size: 3.75em; /*60px;*/
  font-weight: 900;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-style: italic;
}
#txt2 {
  color: white;
  font-size: 3em; /*50px;*/
  font-weight: 400;
  margin-top: 0px;
}

.section-title {
  text-align: center;
  /*margin-top: 50px;
  padding-bottom: 50px;*/
  color: #ed9834;
  font-size: 50px;
  margin-bottom: 3rem;
}
.choose-title {
  font-size: 2rem;
  font-weight: 400;
}

i {
  color: #ed9834;
  /* margin-left: 100px; */
  margin-right: 10px;
}
.registertxt {
  text-align: justify;
  line-height: 1rem;
  word-spacing: 0.2rem;
}

.choose-row {
  /* line-height: 10rem; */
  margin-bottom: 5rem;
}
#tutortxt {
  text-align: justify;
}
/* .flex-column {
  text-align: justify;
} */

#learnttxt {
  text-align: justify;
}
#learnheader {
  /* margin-left: 0px; */
  text-align: justify;
}

.freetrial_area {
  background: url("/assets/images/online_tutoring_woman_laptop_1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* z-index: 1; */
  /* min-height: 600px; */
  /* position: relative; */
  /* background: url("/assets/images/best-free-online-college-courses.jpg")
    no-repeat center center; */

  margin-top: 6.25rem;
}

.freetrial_area_container {
  padding: 5rem 10px;
}

.my-row {
  background-color: rgba(8, 195, 228, 0.479);

  /* width: 100%; */
}

.button2 {
  border: 1px #333 solid;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 100px;
  color: #ed9834;
  width: 100%;
  font-size: 45px;
}

.get_started {
  text-align: center;
  /* margin-left: 150px; 
  margin-top: 50px;*/
  margin: 5rem auto;
}

.freetrialtxt {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.card {
  border-color: #ed9834;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* #subject_card1 {
  margin-left: 300px;
  margin-bottom: 50px;
}

#subject_card2 {
  margin-left: 300px;
  margin-top: 100px;
} */

.blue_color {
  color: #52aabb;
}
.works_section {
  margin-top: 5rem;
}
.yelow_bg {
  background-color: #ed9834;
}
.img-fa-kid {
  background: url("/assets/images/Kids-Studying-from-Home-bro.png") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding: 10rem;
  /* margin-left: -5rem; */
}

.p_container_works {
  margin: 0 auto;
  padding: 3rem 0;
}

.card-img-top {
  height: 200px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.card-title {
  color: #ed9834;
  text-align: center;
  font-size: 2.125rem;
}

.p_container_works p {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 1rem 3rem;
}

.lesson_container {
  margin: auto;
  margin-top: 5rem;
}
.first_row_sub {
  margin-bottom: 50px;
}

#button3 {
  border: 1px whitesmoke solid;
  padding: 40px;
  background-color: white;
  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 150px;
  color: #52aabb;
  width: 100%;
  font-size: 45px;
  margin-top: -40px;
}

.button4_warp {
  margin-top: 5rem;
}
.button4 {
  background: #52aabb;
  border: 1px #333 solid;
  padding: 20px;

  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 150px;
  color: white;
  font-size: 45px;
}

.pana_area {
  background: whitesmoke;
  margin-top: 5rem;
}

.pana_area_container {
  padding: 4rem 15px;
}

.joinus_area {
  background: url("/assets/images/AdobeStock_79333393_860x420.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0px;
}

.join-p-text {
  font-size: 1.5rem;
  /* width: 3rem; */
  width: 350px;
  font-family: "Roboto";
  /* font-size: 1.5rem; */
}
.joinus_container {
  padding: 4rem 15px;
  color: #fff;
  text-align: center;
}

.join-row {
  background-color: rgba(237, 151, 52, 0.795);
}

.last_home_banner_area1 {
  /* background: url("/assets/images/image_2020-05-12_18-12-32.png") no-repeat
    center center; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/image_2020-05-12_18-12-32.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.last_home_banner_area2 {
  margin-top: 100px;
  /* background: url("/assets/images/image_2020-05-12_18-12-44.png") no-repeat
    center center; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/image_2020-05-12_18-12-44.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* opacity: 0.7; */
}

#button6 {
  border: 1px #333 solid;
  padding: 15px;
  background-color: white;
  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 100px;
  color: #ed9834;
  width: 400px;
  font-size: 45px;
  /* font-weight: bolder; */
}

.joinus-text {
  font-size: 6rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-style: italic;
  font-weight: bolder;
}

.button5 {
  background: transparent;
  border: 1px white solid;
  padding: 10px;
  /* width: 300px; */
  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 100px;
  color: white;
  font-size: 45px;
}

.join-input {
  border: 1px white solid;
  padding: 25px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 50px;
  border-radius: 100px;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 20px;
}
input:-moz-placeholder {
  color: black;
}
input::-moz-placeholder {
  color: black;
}
input:-ms-input-placeholder {
  color: black;
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
/* */
@media (max-width: 999px) {
  .my-flex {
    align-content: center;
  }
  #txt1 {
    color: #ed9834;
    text-align: center;
    /* margin-top: 100px; */
    font-size: 1.5em; /*60px;*/
    font-weight: 900;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
    margin-bottom: 0 !important;
    line-height: 1rem;
  }
  #txt2 {
    color: white;
    text-align: center;
    font-size: 1em; /*50px;*/
    font-weight: 400;
    margin-top: 0rem;
    line-height: 0rem;
    margin-bottom: 0rem;
  }
  #button1 {
    justify-self: center;
    border: 1px #333 solid;
    margin-top: 0rem;
    padding: 5px 10px;
    background-color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 25px;
    border-radius: 50px;
    color: #52aabb;
    font-size: 1rem;
  }

  #button6 {
    justify-self: center;
    border: 1px #333 solid;
    margin-top: 0rem;
    padding: 5px 10px;
    background-color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 25px;
    border-radius: 50px;
    color: #ed9834;
    font-size: 1rem;
    width: 150px;

    /* border: 1px #333 solid;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 25px;
    border-radius: 50px;
    color: #ed9834;
    width: 200px;
    font-size: 1rem; */
    /* font-weight: bolder; */
  }

  .carousel-caption {
    margin-bottom: -2rem;
  }
  .section-title {
    font-size: 25px;
  }
  .freetrialtxt {
    font-size: 2.5rem;
  }

  .button2 {
    border: 1px #333 solid;
    padding: 6px;
    background-color: white;
    -webkit-border-radius: 200px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    color: #ed9834;
    width: 100%;
    font-size: 2rem;
  }

  #button3 {
    border: 1px whitesmoke solid;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 25px;
    border-radius: 100px;
    color: #52aabb;
    width: 100%;
    font-size: 2rem;
    margin-top: -20px;
    margin-bottom: 2rem;
  }
  .card-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 530px) {
  .button4 {
    background: #52aabb;
    border: 1px #333 solid;
    padding: 20px;

    -webkit-border-radius: 200px;
    -moz-border-radius: 50px;
    border-radius: 150px;
    color: white;
    font-size: 1.5rem;
  }

  .joinus-text {
    font-size: 3rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
    font-weight: bolder;
  }
  .join-input {
    border: 1px white solid;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    width: 300px;
  }

  .button5 {
    background: transparent;
    border: 1px white solid;
    padding: 5px;
    width: 300px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    color: white;
    font-size: 1.5rem;
  }
}
