
<div class="card">
    <div class="card-title">
      <h2>
        Quizes
      </h2>
      <hr class="yello-hr" />
    </div>
    <div class="card-body">
      <button
        class="button1"
        (click)="openVerticallyCentered(quizContent)">
        Start Quiz
      </button>
    </div>
    <ng-template #quizContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{quiz?.title.raw}}</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngFor="let q of questions">
          <span [innerHtml]="q.content.rendered"></span>
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')">
          Close
        </button>
      </div>
    </ng-template>
</div>
