<!-- <h2>Topics</h2>
<ul class="wraper">
  <li *ngFor="let cat of categories" [class.selected]="cat === selectedCat">
    <a routerLink="/categories/{{ cat.id }}">
      <span class="badge">{{ cat.id }}</span> {{ cat.name }}
    </a>
  </li>
</ul> -->

<div class="lesson-banner">
  <div class="row my-row justify-content-center">
    <h1 class="lesson-text">Lessons</h1>
  </div>
</div>
<section>
  <div class="container">
    <h3 class="search-title">What subject or grade are you looking for</h3>
    <div class="row justify-content-center">
      <input
        type="text"
        class="search-input"
        placeholder="Search for a subject"
      />
    </div>
  </div>
</section>

<div class="container popular-sub-container">
  <h1 class="popular-title">POPULAR SUBJECTS</h1>
  <div class="row">
    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            MATHEMATICs
          </h2>
          <h3>GRADE 5</h3>
          <p>10 Tutors Availabel</p>
        </div>
      </div>
      <div class="row">
        <button>Find tutor</button>
      </div>
    </div>

    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>

        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
            ipsam eos, nam perspiciatis natus commodi similique totam
            consectetur praesentium molestiae atque exercitationem ut
            consequuntur, sed eveniet, magni nostrum sint fuga.
          </p>
        </div>

        <div class="card-footer">
          <Button class="btn btn-primary">Learn More</Button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>

        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
            esse necessitatibus neque.
          </p>
        </div>

        <div class="card-footer">
          <Button class="btn btn-primary">Learn More</Button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h2 class="card-title">
            MATHEMATICs
          </h2>
          <h3>GRADE 5</h3>
          <p>10 Tutors Availabel</p>
        </div>
      </div>
      <div class="row">
        <button>Find tutor</button>
      </div>
    </div>

    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>

        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
            ipsam eos, nam perspiciatis natus commodi similique totam
            consectetur praesentium molestiae atque exercitationem ut
            consequuntur, sed eveniet, magni nostrum sint fuga.
          </p>
        </div>

        <div class="card-footer">
          <Button class="btn btn-primary">Learn More</Button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>

        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
            esse necessitatibus neque.
          </p>
        </div>

        <div class="card-footer">
          <Button class="btn btn-primary">Learn More</Button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="joinus_area">
  <div class="row join-row">
    <div class="container joinus_container">
      <div class="row">
        <h2 class="mx-auto joinus-text">
          JOIN US ! <i class="fa fa-heart-o" style="color: white;"></i>
        </h2>
      </div>
      <div class="row">
        <p class="mx-auto join-p-text">
          Recieve discounts,helpful tips, extra learning resources, and more.
        </p>
      </div>
      <div class="row mt-5">
        <input
          class="mx-auto w-50 join-input"
          type="text"
          name=""
          id=""
          placeholder="Email Address"
        />
      </div>
      <div class="row mt-5">
        <button class="mx-auto w-25 button5">JOIN</button>
      </div>
    </div>
  </div>
</section>
