<!-- <h2>Topics</h2>
<ul class="wraper">
  <li *ngFor="let cat of categories" [class.selected]="cat === selectedCat">
    <a routerLink="/categories/{{ cat.id }}">
      <span class="badge">{{ cat.id }}</span> {{ cat.name }}
    </a>
  </li>
</ul> -->

<div class="lesson-banner">
  <div class="lesson-content">
    <div class="row my-row justify-content-center">
      <h1 class="lesson-text">Lessons</h1>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <h3 class="search-title">What subject or grade are you looking for</h3>
    <div class="row justify-content-center">
      <input
        type="text"
        class="search-input"
        placeholder="Search for a subject"
      />
    </div>
  </div>
</section>

<div class="container popular-sub-container">
  <h1 class="popular-title">POPULAR SUBJECTS</h1>
  <div class="row my-row1">
    <div
      class="col-lg-4 mb-4 col-sm-8 grid-margin"
      *ngFor="let cat of categories"
      [class.selected]="cat === selectedCat"
    >
      <div class="card shadow h-80">
        <img src="/assets//images/physics.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h1 class="card-title">
            {{ cat.id }}
          </h1>

          <h3 class="grade">{{ cat.title.raw }}</h3>
          <p class="avalbl-tutor">10 Tutors Availabel</p>
        </div>
        <button class="findtutor-btn" routerLink="{{ cat.id }}">
          Find tutor
        </button>
      </div>
    </div>

    <!-- <div class="col-lg-4 mb-4 grid-margin">
      <div class="card shadow h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h1 class="card-title">
            MATHEMATICS
          </h1>
          <h3 class="grade">GRADE 5</h3>
          <p class="avalbl-tutor">10 Tutors Availabel</p>
        </div>
        <button class="findtutor-btn">Find tutor</button>
      </div>
      <div class="row"></div>
    </div> -->

    <!-- <div class="col-lg-4 mb-4 grid-margin">
      <div class="card shadow h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h1 class="card-title">
            MATHEMATICS
          </h1>
          <h3 class="grade">GRADE 5</h3>
          <p class="avalbl-tutor">10 Tutors Availabel</p>
        </div>
        <button class="findtutor-btn">Find tutor</button>
      </div>
      <div class="row"></div>
    </div> -->
  </div>
  <!-- <div class="row my-row2">
    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card shadow h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h1 class="card-title">
            MATHEMATICS
          </h1>
          <h3 class="grade">GRADE 5</h3>
          <p class="avalbl-tutor">10 Tutors Availabel</p>
        </div>
      </div>
      <div class="row">
        <button class="findtutor-btn">Find tutor</button>
      </div>
    </div>

    <div class="col-lg-4 mb-4 grid-margin">
      <div class="card shadow h-95">
        <img src="/assets//images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h1 class="card-title">
            MATHEMATICS
          </h1>
          <h3 class="grade">GRADE 5</h3>
          <p class="avalbl-tutor">10 Tutors Availabel</p>
        </div>
      </div>
      <div class="row">
        <button class="findtutor-btn">Find tutor</button>
      </div>
    </div>

    <div class="col-lg-4 col-mb-4 grid-margin">
      <div class="card shadow h-95">
        <img src="/assets/images/math.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h1 class="card-title">
            MATHEMATICS
          </h1>
          <h3 class="grade">GRADE 5</h3>
          <p class="avalbl-tutor">10 Tutors Availabel</p>
        </div>
      </div>
      <div class="row">
        <button class="findtutor-btn">Find tutor</button>
      </div>
    </div>
  </div> -->
</div>
<!-- <ngb-pagination
  [collectionSize]="120"
  [(page)]="page"
  [maxSize]="3"
></ngb-pagination> -->
<section class="joinus_area">
  <div class="row join-row">
    <div class="container joinus_container">
      <div class="row">
        <h2 class="mx-auto joinus-text">
          JOIN US ! <i class="fa fa-heart-o" style="color: white;"></i>
        </h2>
      </div>
      <div class="row">
        <p class="mx-auto join-p-text">
          Recieve discounts,helpful tips, extra learning resources, and more.
        </p>
      </div>
      <div class="row mt-5">
        <input
          class="mx-auto w-50 join-input"
          type="text"
          name=""
          id=""
          placeholder="Email Address"
        />
      </div>
      <div class="row mt-5">
        <button class="mx-auto w-25 button5">JOIN</button>
      </div>
    </div>
  </div>
</section>
