<section class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-10 col-xs-12 col-md-6 form-col">
      <div class="container form-content">
        <h1 class="mb-4 welcom-text">WELCOME BACK</h1>
        <button type="submit" class="btn btn-primary btn-block">
          <i class="fa fa-facebook mr-2" aria-hidden="true"></i>
          sign in with facebook
        </button>
        <button type="submit" class="btn btn-primary btn-block">
          <i class="fa fa-google mr-2" aria-hidden="true"></i> sign in with
          google
        </button>
        <div class="form-container justify-content-around">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="pt-2 form-inner-container justify-content-around"
          >
            <h2 class="text-center">Sign In</h2>
            <div
              *ngIf="formErrors.length > 0"
              class="alert alert-danger"
              role="alert"
            >
              <li *ngFor="let formError of formErrors">
                {{ formError }}
              </li>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
              />
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe" />
              <label class="form-check-label" for="rememberMe"
                >Remember me</label
              >
            </div>

            <button
              class="mt-3 btn btn-primary btn-block"
              type="submit"
              [disabled]="!loginForm.valid || isFormProcessing"
            >
              Submit
              <span
                *ngIf="isFormProcessing"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
            <div class="mt-2 d-flex justify-content-end">
              <p>Forgot <a href="">password?</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-sm-10 col-xs-12 col-md-6 p-col d-flex align-items-end"
    >
      <div class="p-container">
        <div class="">
          <p class="p-text">
            EDUCATION IS THE BEST PASSPORT FOR THE FUTURE,FOR TOMMOROW BELONGS
            TO THOSE WHO PREPARE FOR IT TODAY.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="row">

    <div class="col-sm-6 mt-3">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="formErrors.length > 0"  class="alert alert-danger" role="alert">
                <li *ngFor="let formError of formErrors">
                    {{ formError }}
                </li>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                <input formControlName="password" t type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid || isFormProcessing">
                Submit
                <span *ngIf="isFormProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </form>
            
    </div>

</div> -->
