<section class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 form-col">
      <div class="container form-content">
        <h1 class="welcom-text">WELCOME BACK</h1>
        <button type="submit" class="btn btn-primary btn-block">
          sign in with facebook
        </button>
        <button type="submit" class="btn btn-primary btn-block">
          sign in with google
        </button>
        <div class="form-container justify-content-around">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="form-inner-container justify-content-around"
          >
            <h2 class="text-center">Sign In</h2>
            <div
              *ngIf="formErrors.length > 0"
              class="alert alert-danger"
              role="alert"
            >
              <li *ngFor="let formError of formErrors">
                {{ formError }}
              </li>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Remember me</label
              >
            </div>

            <button
              class="btn btn-primary btn-block"
              type="submit"
              [disabled]="!loginForm.valid || isFormProcessing"
            >
              Submit
              <span
                *ngIf="isFormProcessing"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
            <div class="d-flex justify-content-end">
              <p>Forgot <a href="">password?</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-col">
      <div class="p-container">
        <div class="d-flex justify-content-around">
          <p class="p-text">
            EDUCATION IS THE BEST PASSPORT FOR THE FUTURE,FOR TOMMOROW BELONGS
            TO THOSE WHO PREPARE FOR IT TODAY.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer_area">
  <div class="container" id="footer_container">
    <div class="row">
      <div class="col-4">
        <div class="d-flex flex-column justify-content-start">
          <h2>Choose a Subject</h2>
          <p>Math</p>
          <p>English</p>
          <p>Science</p>
          <p>Coding</p>
          <p>Chemistry</p>
          <p>Physics</p>
        </div>
      </div>
      <div class="col-4" id="semicircle_area">
        <div class="d-flex align-items-end">
          <img class="logo_footer" src="assets/Tutor-web.png" alt="" />
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex flex-column justify-content-end">
          <h2>Any Questions?</h2>
          <p>0911180348</p>
          <p>info@</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <div class="row">

    <div class="col-sm-6 mt-3">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="formErrors.length > 0"  class="alert alert-danger" role="alert">
                <li *ngFor="let formError of formErrors">
                    {{ formError }}
                </li>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                <input formControlName="password" t type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid || isFormProcessing">
                Submit
                <span *ngIf="isFormProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </form>
            
    </div>

</div> -->
