.container-fluid {
  margin-top: 60px;
}
label {
  font-weight: bold;
}
.welcom-text {
  color: #52aabb;
  text-align: center;
}
.form-col {
  background: whitesmoke;
}
.form-container {
  background: white;
  /* margin: 0px; */
}
.form-inner-container {
  margin: 20px;
}
.form-content {
  padding: 50px;
}

.p-text {
  color: white;
  /*margin-top: 350px;*/
  font-size: 30px;
}
.p-col {
  background: linear-gradient(rgb(80, 175, 180), rgba(0, 0, 0, 0.5)),
    url("/assets/images/best-free-online-college-courses.jpg") no-repeat center
      center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
