/* You can add global styles to this file, and also import other style files */
.row{
    margin-left:0px;
    margin-right:0px;
}
.pointer{
    cursor: pointer;
}
*:focus {
    outline: 0 !important;   
}
input[type="button"]::-moz-focus-inner {
    border: 0 !important;
 }
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/   
}
