<nav class="navbar my-nav navbar-expand-md navbar-light">
  <!-- <div class="container"> -->
  <a [routerLink]="'.'" class="navbar-brand logo_h"
    ><img class="mr-auto logo_image" src="/assets/images/Tutor-web.png" alt=""/></a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="">Home</a> -->
        <a class="nav-link"
          id="link1"
          routerLinkActive="active"
          [routerLink]="'.'"
          (click)="isMenuCollapsed = true"
          >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          id="link1"
          routerLinkActive="active"
          [routerLink]="'/categories'"
          (click)="isMenuCollapsed = true">Lessons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="'.'"
          (click)="isMenuCollapsed = true"
          id="link1">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          (click)="isMenuCollapsed = true"
          [routerLink]="'/tutoring/'"
          id="link2">
          Tutors</a>
      </li>
      <span *ngIf="!parentHasLoaded else userMenu"></span>
      <ng-template #userMenu >
        <li *ngIf="authenticated$" class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLink]="'/profile'"
            id="link2">
            Profile</a>
        </li>
        <li *ngIf="authenticated$" class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLink]="'/users/logout'"
            id="link2">
            Log out</a>
        </li>

        <li *ngIf="!authenticated$" class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="'/users/signup'"
            (click)="isMenuCollapsed = true"
            id="link2"
            >SIGN UP</a>
        </li>

        <li *ngIf="!authenticated$" class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="'/users/login'"
            (click)="isMenuCollapsed = true"
            id="link2">LOG IN</a>
        </li>
    </ng-template>
    </ul>
  </div>
  <!-- </div> -->
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
     Brand and toggle get grouped for better mobile display -->
<!-- <a class="navbar-brand logo_h"
        ><img src="assets/Tutor-web.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item active"> -->
<!-- <a class="nav-link" href="">Home</a> -->
<!-- <a
              class="nav-link"
              id="link1"
              routerLinkActive="active"
              [routerLink]="'.'"
              (click)="isMenuCollapsed = true"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" id="link1">Lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="link1">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="link2">Sign Up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="link2">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

<!-- below is older -->

<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">

          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="#">Link</a>

        </li>

        <li class="nav-item dropdown">

          <div ngbDropdown class="d-inline-block">

            <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>

            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

              <button ngbDropdownItem>Action - 1</button>

              <button ngbDropdownItem>Another Action</button>

              <button ngbDropdownItem>Something else is here</button>

            </div>

          </div>

        </li>

        <li class="nav-item">

          <a class="nav-link disabled" href="#">Disabled</a>

        </li>

      </ul>

    </div>

  </nav>
-->
