.header_area {
  position: absolute;
  width: 100%;
  z-index: 99;
  /* transition: background 0.4s, all 0.3s linear; */
}

.my-nav {
  position: relative;
  background-color: whitesmoke;
}

.nav-link {
  font-size: 18px;
  padding-right: 100px;
}

.navbar-toggler {
  color: black;
}

.logo_image {
  width: 150px;
  /* float: left; */
}

#link1 {
  color: black;
}

#link2 {
  color: #52aabb;
  font-weight: bolder;
}
/* 
.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
.header_area .navbar .nav .nav-item {
  margin-right: 45px;
}
.header_area .navbar .nav .nav-item .nav-link {
  font: 500 14px/80px "Rubik", sans-serif;
  text-transform: capitalize;
  color: #002347;
  padding: 0px;
  display: inline-block;
} */

@media (max-width: 767px) {
  .navbar-nav {
    background: #163967;
    /* color: white; */
    /* margin: ; */
    width: 55%;
    /* justify-items: start; */
  }
  .logo_image {
    width: 8rem;
  }
  #link1 {
    color: white;
    /* font-size: 0.5rem; */
    font-weight: 200;
    text-align: right;
  }
  #link2 {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    text-align: right;
  }
}
