
<h4>Change Avatar</h4>
<hr />

<div class="form-container">

  <div class="file-upload mb-3">
      <span class="hidden-file">
      <input type="file" #fileInput  name="avatar" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
        (onFileSelected)="onFileSelected($event)"  />
      </span>

      <div class="btn-group" (click)="fileInput.click()">
          <button type="button" class="btn btn-primary">
              <i class="fa fa-file-image-o"></i> &nbsp; Upload
          </button>
      </div>

  </div>
  <div *ngIf="profile && profile.avatar">
    <img class="w-50" src="{{avatarsLocation}}{{profile.avatar}}" alt="" /> 
  </div>

</div>
